#layout-grid-container {

  margin:0 auto;
  position:relative;
}

.layout-grid {
  width:100%;
  display: grid;
  grid-auto-columns: 50px;
  grid-auto-rows: 50px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(120, 50px);
  gap: 16px;
}

.layout-grid-item {
  position:relative;
}

.layout-grid-item-resize-handle {
  position:absolute;
  background:rgba(0,255,0,.8);
  user-select: none;
}

.layout-grid-item-resize-handle-e,
.layout-grid-item-resize-handle-w {
  width:8px;
  top:0;
  bottom:0;
}

.layout-grid-item-resize-handle-e {
  right:-8px;
  cursor:e-resize;
}

.layout-grid-item-resize-handle-w {
  left:-8px;
  cursor:w-resize;
}

.layout-grid-item-resize-handle-n,
.layout-grid-item-resize-handle-s {
  height:8px;
  left:0;
  right:0;
}

.layout-grid-item-resize-handle-n {
  top:-8px;
  cursor:n-resize;
}

.layout-grid-item-resize-handle-s {
  bottom:-8px;
  cursor:s-resize;
}

.layout-grid-item-drag-handle {
  position:absolute;
  top:0;
  left:0;
  width:40px;
  height:40px;
  background:rgba(255,255,0,.8);
  cursor:move;
  user-select: none;
}

#item1 {
  /* line Y / line X / height / width */
  grid-area: 1 / 5 / span 4 / span 3;
  background:rgba(0,0,255,.5);
}

#item2 {
  grid-area: 2 / 2 / span 3 / span 6;
  background:rgba(255,0,0,.5);
}
